#Gain and Offset control
record(longout, "$(PriSys){$(PSC)}$(Name)-SP") {
  field(DESC, "$(Reg)-$(Name)")
  #field(DTYP, "PSC Reg")
  field(DTYP, "PSC Single I32")
#
  info(autosaveFields_pass0, "VAL")
  info(SYNC, "ProcOnConn")
  field(TPRO, "1")
#
  field(OUT , "@CmdPort_$(PSC) 80 $(RegOffset)")
  field(FLNK, "$(PriSys){$(PSC)}GoRegSingleWrite")
}

record(longin, "$(PriSys){$(PSC)}$(Name)-I")
{
  field(DESC, "$(Reg)-$(Name)")
  field(DTYP, "PSC Reg")
  field(INP , "@RxPort_$(PSC) 82 $(RegOffset)")
  field(SCAN, "I/O Intr")
}
