#
record(longout, "$(PriSys){$(PSC)}$(Name)-SP") {
  field(DESC, "$(Reg)-$(Name)")
  field(SCAN, "$(SCAN)")
  field(DTYP, "PSC Reg")
  field(OUT , "@CmdPort_$(PSC) 80 $(RegOffset)")
  #field(FLNK, "$(PriSys){$(PSC)}$(Reg)-Sp")  
}

record(longin, "$(PriSys){$(PSC)}$(Name)-I")
{
  field(DESC, "$(Reg)-$(Name)")
  field(DTYP, "PSC Reg")
  field(INP , "@CmdPort_$(PSC) 80 $(RegOffset)")
  field(SCAN, "I/O Intr")
}
